@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F0F0F;
  --foreground: #ECEDEE;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
